.jedalnicek-page {
  padding: 60px 40px;
  color: #e6e6e6;
}

h1 {
  color: #32ff6a;
  font-size: 3rem;
}

.intro {
  margin-bottom: 40px;
  opacity: 0.85;
}

.meal h2 {
  margin-top: 30px;
  color: #32ff6a;
}

.meal ul {
  margin-left: 20px;
  line-height: 1.8;
}
