/* src/app/app.scss */

// Základný reset a štýly pre telo aplikácie
html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f4f4f9; // Svetlo sivé pozadie
}

// Kontajner pre obsah pod hlavičkou
.content-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Centruje kontajner na stránke */
}