.training-page {
  padding: 60px 40px;
  color: #e6e6e6;
}

h1 {
  color: #32ff6a;
  font-size: 3rem;
  margin-bottom: 10px;
}

.intro {
  opacity: 0.85;
  margin-bottom: 40px;
}

.plan h2 {
  color: #32ff6a;
  margin-top: 30px;
}

.plan ul {
  margin-left: 20px;
  line-height: 1.8;
}
