/* src/app/profile/profile.scss */

.profile-container {
    display: flex;
    justify-content: center; // Centruje kartu horizontálne
    padding-top: 50px; // Pridáva priestor nad kartou
}

mat-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

mat-card-header {
    margin-bottom: 20px;
    text-align: center;
    // Centrujeme nadpis v hlavičke karty
    .mat-card-title {
        width: 100%;
    }
}

.full-width {
    width: 100%;
}

button {
    margin-top: 10px;
}