<div class="profile-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ isLoginMode() ? 'Prihlásenie' : 'Registrácia nového účtu' }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form *ngIf="isLoginMode()" (ngSubmit)="onSubmitLogin()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="loginData.email" name="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Heslo</mat-label>
          <input matInput type="password" [(ngModel)]="loginData.password" name="password" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="full-width">Prihlásiť sa</button>
      </form>

      <form *ngIf="!isLoginMode()" (ngSubmit)="onSubmitRegister()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="registerData.email" name="emailR" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Heslo</mat-label>
          <input matInput type="password" [(ngModel)]="registerData.password" name="passwordR" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Potvrdiť heslo</mat-label>
          <input matInput type="password" [(ngModel)]="registerData.confirmPassword" name="confirmPasswordR" required>
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit" class="full-width">Registrovať</button>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary" (click)="onSwitchMode()">
        {{ isLoginMode() ? 'Nemám účet? Registrujte sa' : 'Už mám účet? Prihláste sa' }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>